.bookings-wrap li {
  padding: 30px;
  border-radius: 30px;
  border: 1px solid #ffffff40;
  margin-top: 25px;
  position: relative;
}

@media (max-width: 767px) {
  .bookings-wrap li {
    padding: 20px;
  }
}

.bookings-wrap .remove {
  position: absolute;
  top: 30px;
  right: 30px;
  z-index: 99;
  background-color: #ff0a54;
  color: #fff;
  border-radius: 50%;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  transition: all ease-in-out 0.3s;
}

.bookings-wrap .remove:hover {
  background-color: #fff;
  color: #ff0a54;
}

.booking-img-wrap {
  width: 200px;
  border-radius: 10px;
  overflow: hidden;
}

.bookings-wrap .booking-item h3 {
  font-size: 34px;
  font-weight: 700;
}

.booking-details p {
  margin-top: 10px;
}

.booking-event-item + .booking-event-item {
  margin-top: 20px;
  padding-top: 20px;
  border-top: 1px solid #ffffff20;
}
