.primary-btn {
  display: inline-block;
  font-size: 18px;
  font-weight: 600;
  color: #fff;
  padding: 12px 30px;
  border-radius: 8px;
  text-transform: uppercase;
  font-family: "Bricolage Grotesque", sans-serif;
  position: relative;
  z-index: 1;
  overflow: hidden;
  border: 1px solid transparent;
  transition: all ease-in-out 0.3s;
}
.primary-btn::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #ff0a54;
  z-index: -2;
  transition: all 0.5s cubic-bezier(0.25, 0.1, 0.25, 1);
}
.primary-btn:hover {
  color: #fff;
  border: 1px solid #fff;
}
.primary-btn:hover::before {
  width: 0%;
}
.primary-btn.btn-white {
  color: #0f0f0f;
}
.primary-btn.btn-white:hover {
  color: #fff;
}
.primary-btn.btn-white::before {
  background-color: #fff;
}
.primary-btn.btn-dark {
  color: #fff;
}
.primary-btn.btn-dark:hover {
  color: #ff0a54;
  border-color: #ff0a54;
}
