.cart-list-item {
  display: flex;
  gap: 30px;
  align-items: center;
  border: 1px solid #ffffff61;
  padding: 24px 30px;
  border-radius: 20px;
}

.cart-list-item .cart-img {
  width: 250px;
  border-radius: 10px;
  overflow: hidden;
}

.cart-list-item .cart-img img {
  width: 100%;
}

.cart-list-item h3 {
  font-size: 34px;
  font-family: "Lexend Deca", sans-serif;
}
