.concert-details h3 {
  font-size: 40px;
  font-family: "Lexend Deca", sans-serif;
}
.concert-details .qty-wrap button {
  background-color: #ff0a54;
}

.concert-details .qty-wrap button:hover {
  background-color: #ff0a53ba;
  color: #fff;
  border: transparent;
}

.concert-details .remove-btn {
  background-color: #ff0a54;
  color: #fff;
  border: 0;
  outline: 0;
  width: 44px;
  height: 44px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 6px;
}
