.banner-sec {
  padding: 200px 0 140px;
  background-image: url(/src/assets/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-sec .common-head h1 {
  font-size: 94px;
}

.banner-sec .common-head h1 span {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 0 20px;
  position: relative;
}

.banner-sec .common-head h1 span:after {
  content: "";
  position: absolute;
  top: 60px;
  right: -150px;
  width: 136px;
  height: 108px;
  background-image: url(../../assets/arrow-icon.png);
}

.upcoming-event {
  padding: 20px 15px;
  background-color: #4434ba;
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 30px;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1200px;
  z-index: 99;
}

.upcoming-event-item {
  padding: 10px 25px;
}

.upcoming-event .col-md-4 + .col-md-4 {
  border-left: 1px solid rgb(255 255 255 / 40%);
}

.upcoming-event-item h3 {
  font-size: 34px;
  font-weight: 700;
}

.about-sec {
  background-image: url(/src/assets/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-item img {
  border-radius: 300px 30px 30px 30px;
  width: 100%;
}

.events-sec {
  background-image: url(/src/assets/events-bg.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.sports-shows {
  background-color: #390788;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.sports-shows li label {
  width: 100%;
  margin-right: 7px;
  color: #fff;
}

.sports-shows label input {
  position: absolute;
  top: -20px;
}

.sports-shows input:checked + .option-label {
  background: linear-gradient(90deg, #31067f 0%, #580ae5 100%);
  color: #f7f7f7;
}

.sports-shows .option-label {
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.sports-shows li + li .option-label {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.qty-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-sports-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.qty-wrap span {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #390788;
  transition: all ease-in-out 0.3s;
  color: #fff;
}

.qty-wrap span:hover {
  background-color: #fff;
  color: #0f0f0f;
}

.qty-wrap input {
  background-color: transparent;
  width: 40px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;
  font-size: 22px;
  font-weight: 700;
}

.stand-up-sec {
  background-image: url(/src/assets/stand-up-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

@media (min-width: 993px) {
  .events-sec .col-md-4 .events-content {
    position: sticky;
    top: 30px;
  }
}
