.banner-sec {
  padding: 200px 0 140px;
  background-image: url(/src/assets/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-sec .common-head h1 {
  position: relative;
  font-size: 94px;
}

@media (max-width: 1200px) {
  .banner-sec .common-head h1 {
    font-size: 78px;
  }
}

.banner-sec .common-head h1 img {
  position: absolute;
  top: 8px;
  right: 120px;
  animation: rotate 5s infinite linear;
}

@media (max-width: 1200px) {
  .banner-sec .common-head h1 img {
    top: 4px;
    right: 16%;
  }
}

@media (max-width: 991px) {
  .banner-sec .common-head h1 img {
    right: 6%;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner-sec .common-head h1 span {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 0 20px;
  position: relative;
}

.banner-sec .common-head h1 span:after {
  content: "";
  position: absolute;
  top: 60px;
  right: -150px;
  width: 136px;
  height: 108px;
  background-image: url(../../assets/arrow-icon.png);
}

@media (max-width: 1200px) {
  .banner-sec .common-head h1 span:after {
    display: none;
  }
}

.upcoming-event {
  padding: 20px 15px;
  background-color: #4434ba;
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 30px;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  max-width: 1320px;
  z-index: 99;
}

.upcoming-event-item {
  padding: 10px 25px;
}

.upcoming-event .col-md-4 + .col-md-4 {
  border-left: 1px solid rgb(255 255 255 / 40%);
}

.upcoming-event-item h3 {
  font-size: 34px;
  font-weight: 700;
}

.about-sec {
  background-image: url(/src/assets/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.about-item img {
  border-radius: 300px 30px 30px 30px;
  width: 100%;
}

.events-sec {
  background-image: url(/src/assets/events-bg.jpg);
  background-size: 100%;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

@media (min-width: 993px) {
  .events-sec .col-md-4 .events-content {
    position: sticky;
    top: 180px;
  }
}

.sports-shows {
  background-color: #390788;
  border-radius: 20px;
  overflow: hidden;
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.sports-shows li label {
  width: 100%;
  margin-right: 7px;
  color: #fff;
}

.sports-shows label input {
  position: absolute;
  top: -20px;
}

.sports-shows input:checked + .option-label {
  background: linear-gradient(90deg, #31067f 0%, #580ae5 100%);
  color: #f7f7f7;
}

.sports-shows .option-label {
  display: flex;
  justify-content: space-between;
  padding: 18px 30px;
  font-size: 22px;
  font-weight: 700;
  cursor: pointer;
}

.sports-shows li + li .option-label {
  border: 1px solid rgba(255, 255, 255, 0.2);
}

.qty-wrap {
  display: flex;
  align-items: center;
  gap: 10px;
}

.qty-sports-show {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 25px;
}

.qty-wrap span {
  border-radius: 8px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  cursor: pointer;
  width: 48px;
  height: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #390788;
  transition: all ease-in-out 0.3s;
  color: #fff;
}

.qty-wrap span:hover {
  background-color: #fff;
  color: #0f0f0f;
}

.qty-wrap input {
  background-color: transparent;
  width: 40px;
  text-align: center;
  color: #fff;
  outline: none;
  border: 0;
  font-size: 22px;
  font-weight: 700;
}

.sports-details {
  background: linear-gradient(90deg, #31067f 0%, #580ae5 100%);
  border-radius: 30px;
}

.sports-details-item {
  padding: 40px 30px;
}

.sports-details-item h4,
.sports-details-item h5 {
  font-size: 80px;
  font-weight: 700;
  line-height: 96px;
  text-transform: uppercase;
}

.sports-details-item h5 {
  font-size: 66px;
  line-height: 76px;
  margin-top: 25px;
}

.sports-details-item span {
  font-weight: 800;
  font-size: 24px;
  line-height: 30px;
  text-transform: capitalize;
}

.sports-details-item .progress {
  padding: 2px;
  background-color: #fff;
  border-radius: 50px;
  width: 100%;
  height: 58px;
}

.sports-details-item .progress-bar {
  background-color: #5e11a3;
  border-radius: 50px;
  padding: 14px 30px;
  font-size: 22px;
  font-weight: 600;
  text-align: start;
  text-transform: capitalize;
}

.sports-details .swiper-pagination {
  position: absolute;
  top: 50px !important;
  right: 50px !important;
  left: unset !important;
  bottom: unset !important;
  display: flex;
  justify-content: end;
}

.sports-details .swiper-pagination .swiper-pagination-bullet {
  width: 16px;
  height: 16px;
  border: 2px solid #fff !important;
  background-color: transparent;
  opacity: unset;
}
.sports-details .swiper-pagination .swiper-pagination-bullet-active {
  background-color: #0f0f0f;
}

.arrow-btn {
  min-width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ff0a54;
  border-radius: 50%;
  color: #fff;
}
.features-sec {
  background-image: url(/src/assets/about-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.features-item {
  padding: 40px 32px;
  margin-top: 40px;
  position: relative;
  z-index: 0;
  transition: all ease-in-out 0.3s;
}

.features-item:after {
  content: "";
  background: #fff;
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
  mask-image: url(../../assets/features-bg.svg);
  mask-position: right bottom;
  border-radius: 25px 25px 0 25px;
}

.features-item:hover {
  transform: translateY(-10px);
}

.features-item svg {
  background-color: #430b9e;
  width: 84px;
  height: 84px;
  border-radius: 10px;
  padding: 15px;
  transition: all ease-in-out 0.3s;
}

.features-item:hover svg {
  background-color: #d5d4df;
  color: #430b9e;
}
.features-item h4 {
  font-size: 26px;
  font-weight: 700;
  color: #0f0f0f;
  margin: 20px 0 10px 0;
}

.features-item p {
  color: #666;
}

.stand-up-sec {
  background-image: url(/src/assets/stand-up-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}

.stand-up-sec .swiper-button-prev,
.stand-up-sec .swiper-button-next {
  background-color: #fff;
  border-radius: 10px;
  padding: 20px;
  width: 64px;
  height: 64px;
}
