header {
  padding: 12px 30px;
  background-color: #fff;
  border-radius: 20px;
  position: absolute;
  top: 20px;
  left: 0;
  right: 0;
  margin: 0 auto;
  width: 95%;
  max-width: 1320px;
  z-index: 999;
  transition: all 0.3s ease-in-out;
}

@media (max-width: 450px) {
  .navbar-brand img {
    width: 140px;
  }
}

@media (max-width: 767px) {
  header {
    padding: 10px 5px;
  }
}

header .nav-link {
  padding: 8px 15px !important;
  text-transform: capitalize;
}

@media (max-width: 1100px) {
  header .nav-link {
    font-size: 16px;
    padding: 8px 8px !important;
  }
}

.header-icons li a {
  color: #333;
  transition: all ease-in-out 0.3s;
  position: relative;
}
.header-icons li a:hover {
  color: #ff0a54;
}

.header-icons li a span {
  background-color: #ff0a54;
  color: #fff;
  border-radius: 50%;
  width: 18px;
  height: 18px;
  display: flex;
  justify-content: center;
  align-items: center;
  position: absolute;
  top: -4px;
  right: -2px;
  font-size: 14px;
}

header.fixed-header {
  position: fixed;
  top: 0;
  box-shadow: 0px 2px 30px 24px #1b055cbf;
  border-radius: 0;
  width: 100%;
  max-width: 100%;
  animation: smoothScroll 0.5s forwards;
}

@keyframes smoothScroll {
  0% {
    transform: translateY(-100px);
  }
  100% {
    transform: translateY(0);
  }
}
