.booking-summery,
.ticket-item {
  border-radius: 20px;
  padding: 40px 30px;
  margin-bottom: 25px;
  background-color: #ffffff28;
}

.booking-summery h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.booking-summery h4 {
  font-weight: 700;
  font-family: "Lexend Deca", sans-serif;
}

.summery-item svg {
  background-color: #ff0a54;
  border-radius: 8px;
  padding: 12px;
}

.summery-item h4 {
  font-size: 22px;
  font-weight: 500;
}

.summery-item p {
  font-size: 26px;
  font-weight: 700;
}

.ticket-item .booking-details-img {
  width: 220px;
  min-width: 220px;
  border-radius: 15px;
  overflow: hidden;
}

.booking-items .ticket-item h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 15px;
}

.booking-items .ticket-item p {
  font-size: 20px;
}

.booking-items .ticket-item p + p {
  margin-top: 8px;
}

@media screen and (max-width: 991px) {
  .ticket-item .booking-details-img {
    width: 100%;
    min-width: unset;
  }

  .booking-items .ticket-item p {
    font-size: 24px;
    font-weight: 700;
    margin-top: 4px;
    line-height: 1.3;
  }
}

.ship-details p {
  font-size: 22px;
  margin-bottom: 10px;
}

.booking-summery .common-head > span::before {
  content: none;
}

.booking-summery .common-head > span {
  padding: 10px 20px;
  gap: 8px;
  text-transform: uppercase;
  font-family: "Lexend Deca", sans-serif;
}
