.booking-summery,
.ticket-item {
  border-radius: 20px;
  padding: 40px 30px;
  margin-bottom: 25px;
  background-color: #ffffff28;
}

.booking-summery h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 25px;
}

.summery-item h4 {
  font-size: 22px;
  font-weight: 500;
  margin-top: 20px;
}

.summery-item p {
  font-size: 26px;
  font-weight: 700;
}

.booking-items {
  /* margin-top: 25px; */
}

.ticket-item .booking-details-img {
  width: 220px;
  min-width: 220px;
  border-radius: 15px;
  overflow: hidden;
}

.booking-items .ticket-item h3 {
  font-size: 34px;
  font-weight: 700;
  margin-bottom: 15px;
}

.booking-items .ticket-item p {
  font-size: 20px;
  margin-bottom: 8px;
}

.ship-details p {
  font-size: 22px;
  margin-bottom: 10px;
}
