.banner-sec {
  padding: 200px 0 140px;
  background-image: url(../../../../assets/banner-bg.jpg);
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
}

.banner-sec .common-head h1 {
  position: relative;
  font-size: 94px;
}

.banner-sec .breadcrumb li a,
.banner-sec .breadcrumb li {
  font-size: 24px;
  color: #fff;
  text-transform: capitalize;
}

.banner-sec .breadcrumb li + li::before {
  content: "";
  width: 24px;
  height: 24px;
  display: inline-block;
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='none' stroke='%23ffffff' stroke-width='2' viewBox='0 0 24 24'%3E%3Cpath d='M9 6l6 6-6 6'/%3E%3C/svg%3E");
  background-repeat: no-repeat;
  background-size: contain;
  margin-inline: 10px;
  vertical-align: middle;
  color: #fff;
}

@media (max-width: 1200px) {
  .banner-sec .common-head h1 {
    font-size: 78px;
  }
}

.banner-sec .common-head h1 img {
  position: absolute;
  top: 8px;
  right: 120px;
  animation: rotate 5s infinite linear;
}

@media (max-width: 1200px) {
  .banner-sec .common-head h1 img {
    top: 4px;
    right: 16%;
  }
}
@media (max-width: 991px) {
  .banner-sec .common-head h1 img {
    right: 6%;
  }
}
@media (max-width: 767px) {
  .banner-sec {
    padding: 180px 0 140px;
  }
  .banner-sec .common-head h1 {
    font-size: 64px;
  }
  .banner-sec .common-head h1 img {
    display: none;
  }
}
@media (max-width: 480px) {
  .banner-sec {
    padding: 160px 0 140px;
  }
  .banner-sec .common-head h1 {
    font-size: 54px;
  }
}

@media (max-width: 410px) {
  .banner-sec {
    padding: 160px 0 200px;
  }
}

@keyframes rotate {
  0% {
    transform: rotate(0);
  }
  100% {
    transform: rotate(360deg);
  }
}

.banner-sec .common-head h1 span {
  background-color: rgba(255, 255, 255, 0.25);
  border: 1px solid #fff;
  border-radius: 12px;
  padding: 0 20px;
  position: relative;
}

.banner-sec .common-head h1 span:after {
  content: "";
  position: absolute;
  top: 60px;
  right: -150px;
  width: 136px;
  height: 108px;
  background-image: url(../../../../assets/arrow-icon.png);
}

@media (max-width: 1200px) {
  .banner-sec .common-head h1 span:after {
    display: none;
  }
}

.upcoming-event {
  padding: 20px 15px;
  background-color: #4434ba;
  border: 1px solid rgb(255 255 255 / 40%);
  border-radius: 30px;
  position: absolute;
  bottom: -65px;
  left: 50%;
  transform: translateX(-50%);
  width: 95%;
  z-index: 99;
}

@media (max-width: 991px) {
  .upcoming-event {
    bottom: -165px;
  }
}

@media (max-width: 767px) {
  .upcoming-event {
    bottom: -240px;
  }
}

.upcoming-event-item {
  padding: 10px 25px;
}

.upcoming-event .col-lg-4 + .col-lg-4 {
  border-left: 1px solid rgb(255 255 255 / 40%);
}

@media (max-width: 991px) {
  .upcoming-event .col-lg-4:last-child {
    border-left: 0 solid rgb(255 255 255 / 40%);
  }
}
@media (max-width: 767px) {
  .upcoming-event .col-lg-4 + .col-lg-4 {
    border-left: 0 solid rgb(255 255 255 / 40%);
  }
}

.upcoming-event-item h3 {
  font-size: 34px;
  font-weight: 700;
}
