.concert-card {
  padding: 30px;
  position: relative;
  z-index: 1;
}
.concert-card + .concert-card {
  margin-top: 32px;
}

.concert-card > img {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}

.concert-title {
  display: flex;
  gap: 10px;
}

.concert-title::before {
  content: "";
  display: inline-block;
  width: 66px;
  height: 66px;
  background-image: url("data:image/svg+xml,%3Csvg width='66' height='64' viewBox='0 0 66 64' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Crect width='66' height='64' rx='8' fill='%23FF0A54'/%3E%3Cpath d='M48 14H45C45 12.346 43.654 11 42 11C40.346 11 39 12.346 39 14H27C27 12.346 25.654 11 24 11C22.346 11 21 12.346 21 14H18C15.243 14 13 16.243 13 19V48C13 50.757 15.243 53 18 53H48C50.757 53 53 50.757 53 48V19C53 16.243 50.757 14 48 14ZM41 14C41 13.449 41.448 13 42 13C42.552 13 43 13.449 43 14V16C43 16.551 42.552 17 42 17C41.448 17 41 16.551 41 16V14ZM23 14C23 13.449 23.448 13 24 13C24.552 13 25 13.449 25 14V16C25 16.551 24.552 17 24 17C23.448 17 23 16.551 23 16V14ZM15 19C15 17.346 16.346 16 18 16H21C21 17.654 22.346 19 24 19C25.654 19 27 17.654 27 16H39C39 17.654 40.346 19 42 19C43.654 19 45 17.654 45 16H48C49.654 16 51 17.346 51 19V23H15V19ZM51 48C51 49.654 49.654 51 48 51H18C16.346 51 15 49.654 15 48V25H51V48Z' fill='white'/%3E%3Cpath d='M21 36H24C25.103 36 26 35.103 26 34V31C26 29.897 25.103 29 24 29H21C19.897 29 19 29.897 19 31V34C19 35.103 19.897 36 21 36ZM21 31H24L24.002 34H21V31Z' fill='white'/%3E%3Cpath d='M31.5 36H34.5C35.603 36 36.5 35.103 36.5 34V31C36.5 29.897 35.603 29 34.5 29H31.5C30.397 29 29.5 29.897 29.5 31V34C29.5 35.103 30.397 36 31.5 36ZM31.5 31H34.5L34.502 34H31.5V31Z' fill='white'/%3E%3Cpath d='M42 36H45C46.103 36 47 35.103 47 34V31C47 29.897 46.103 29 45 29H42C40.897 29 40 29.897 40 31V34C40 35.103 40.897 36 42 36ZM42 31H45L45.002 34H42V31Z' fill='white'/%3E%3Cpath d='M21 47H24C25.103 47 26 46.103 26 45V42C26 40.897 25.103 40 24 40H21C19.897 40 19 40.897 19 42V45C19 46.103 19.897 47 21 47ZM21 42H24L24.002 45H21V42Z' fill='white'/%3E%3Cpath d='M31.5 47H34.5C35.603 47 36.5 46.103 36.5 45V42C36.5 40.897 35.603 40 34.5 40H31.5C30.397 40 29.5 40.897 29.5 42V45C29.5 46.103 30.397 47 31.5 47ZM31.5 42H34.5L34.502 45H31.5V42Z' fill='white'/%3E%3Cpath d='M42 47H45C46.103 47 47 46.103 47 45V42C47 40.897 46.103 40 45 40H42C40.897 40 40 40.897 40 42V45C40 46.103 40.897 47 42 47ZM42 42H45L45.002 45H42V42Z' fill='white'/%3E%3C/svg%3E");
  background-size: cover;
  background-repeat: no-repeat;
  margin-right: 10px;
  background-color: #ff0a54;
  border-radius: 10px;
  padding: 8px 9px;
}

.concert-content img {
  width: 100%;
  height: 100%;
  border-radius: 20px;
  object-fit: cover;
}

.concert-content {
  color: #170072;
}

.concert-content h3 {
  font-size: 24px;
  font-weight: 700;
}

.concert-card .col-md-6 + .col-md-6 .concert-content {
  position: relative;
  padding-left: 25px;
  height: 100%;
}
.concert-card .col-md-6 + .col-md-6 .concert-content::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 100%;
  display: block;
  background-image: url("data:image/svg+xml,%3csvg width='100%25' height='100%25' xmlns='http://www.w3.org/2000/svg'%3e%3crect width='100%25' height='100%25' fill='none' stroke='%2333333373' stroke-width='4' stroke-dasharray='3%2c 15' stroke-dashoffset='8' stroke-linecap='square'/%3e%3c/svg%3e");
  background-repeat: repeat;
  background-size: cover;
  z-index: 1;
}

.concert-details {
  margin-top: 25px;
  padding-top: 5px;
  border-top: 1px solid rgba(0, 0, 0, 0.1);
}
.concert-details p {
  font-size: 18px;
  display: flex;
  gap: 8px;
  margin-top: 14px;
}
